nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    z-index: 10;
    margin-left: 2rem;
    position: fixed;
    top: 7%;
    left: 0;
    width: -webkit-fill-available;
    background-color: rgba(255, 255, 255, 0.7);

}

.favbtn,
.gocartbtn {
    color: #363636 !important;
}

input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

.nav-icons {
    width: 2rem;
    height: 2rem;
    padding: 0rem 2rem;
    color: black;
}